@import "tailwindcss";

/* En la v4, las variables de tema se ponen aquí directamente */
@theme {
  --color-orange-500: #f97316;
  --color-slate-900: #0f172a;
}

:root {
  background-color: var(--color-basket-dark);
  color: white;
}

body {
  margin: 0;
  font-family: sans-serif;
}